* {
  padding: 0em;
  margin: 0em;
}

html {
  width: 100vw;
}

body {
  font-family: system-ui, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
  padding: 2rem;
  margin: 0em;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 1076px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

#status {
  margin-bottom: 1rem;
  font-weight: bold;
}

#updated {
  opacity: 0.8;
}

#priceChart {
  width: 100%;
  height: 100%;
}

.chart-container {
  max-width: 1296px;
  background-color: white;
  padding: 2rem 1rem;
  border-radius: 1rem;
}

.controls {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

button {
  padding: 1rem 1.5rem;
  font-size: 1rem;
}

.view-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.nav-buttons {
  display: flex;
  gap: 0.5rem;
}

.view-buttons button,
.nav-buttons button {
  background: #1e293b;
  color: #e5e7eb;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.view-buttons button.active {
  background: #38bdf8;
  color: #020617;
}

.day-prices {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.price-boxes {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.price-box {
  background: #1e293b;
  padding: 1rem;
  border-radius: 0.5rem;
}

#rangeLabel {
  font-size: 1rem;
  padding: 1rem 1.5rem;
  border: 1px white solid;
  border-radius: 0.5rem;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  h2 {
    font-size: 2rem;
    text-align: center;
  }

  .chart-container {
    height: 100%;
    min-height: 300px !important;
  }

  canvas {
    height: 100% !important;
  }

  #updated {
    font-size: 1rem;
  }

  body {
    font-size: 2rem;
    justify-content: flex-start;
    padding: 1rem;
  }

  button {
    font-size: 1rem;
    color: red;
  }

  .price-box {
    font-size: 1rem;
  }
}
